/* 
    Created on : 17/05/2018, 19:18:18
    Author     : Acer
*/

//LAYOUT
@import "structure.scss";

//TONS DE CINZA
@import "day.scss";

//CORES
@import "blue.scss";

@import "reset.scss"; 

.logotipo{
    margin: 5px;
    border-radius: 10px;
    padding: 2px;
    bottom: 20px !important;
    position: absolute;
}

#logotipo_unesp{
    right: 80px !important;
}

#logotipo_sbc{
    right: 40px !important;
    background: white;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

#splash{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% + 10px);
    height: 100%;
    position: fixed;
    left: -5px;
    top: 0px;
    z-index: 999999;
    font-size: 30px;
    background: #444;
    color: #CCC;
    font-family: Roboto;
}

.ui-selectmenu-button-pre-wrap{
    .ui-selectmenu-text{
        white-space: pre-wrap;
    }
}

.ui-tooltip {
    border: 1px solid white;
    background: #111;
    color: white;
    font-size: 13px;
}
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.tooltip {
  position: absolute;
  padding: 10px;
  font: 12px sans-serif;
  background: #222;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0.9;
  visibility: hidden;
}