/* 
    Created on : 17/05/2018, 19:17:08
    Author     : Acer
*/

$hex0: #E9F0FC;
$hex1: #BDD3F7;
$hex2: #91B5F2;
$hex3: #6598ED;
$hex4: #397BE8;
$hex5: #0D5EE4;
$hex6: #0B4DBB;
$hex7: #093C92;
$hex8: #062B68;
$hex9: #041A3F;
$hex30: rgba(13, 94, 228,0.5);

body.blue-theme{
    @import "color.scss";
}