/* 
    Created on : 18/08/2018, 13:13:41
    Author     : Acer
*/


.topbar{
    > .title{
        max-width: 50px;
        margin-right: 10px;
        font-size: 20px;
    }
    > .linkspage{
        > a.linkpage{
            padding: 0px 5px;
        }
    }
}

.cover{
    > .logo-principal{
        width: 250px;
        margin-left: 10px;
    }
}