/* 
    Created on : 18/08/2018, 13:13:41
    Author     : Acer
*/


.topbar{
    > .title{
        max-width: 50px;
        margin-right: 10px;
        font-size: 20px;
    }
    > .linkspage{
        > a.linkpage{
            padding: 0px 5px;
        }
    }
}


.cover{
    > .logo-principal{
        width: 250px;
        margin-left: 10px;
    }
    > .list-logos{
        > a > .logo{
            height: 55px;
        }
    }
    > .social{
        right: 10px;
    }
}

.about{
    > .content:first-child:hover{
        > img{
            float: right;
            margin-left: 10px;
        }
    }
    > .content:not(:nth-child(2)):hover{
        margin-top: 50px;
    }
    > .content:not(:nth-child(2)){
        max-width: calc(15% - 5px);
        padding: 5px;
    }
    > .content:nth-child(2){
        max-width: 55%;
    }
    > .content:nth-child(4){
        order: 4;
    }
    > .content:nth-child(3){
        order: 3;
    }
    > .content:nth-child(1){
        order: 2;
    }
    > .content:nth-child(2){
        order: 1;
    }
}