/* 
    Created on : 17/05/2018, 19:17:08
    Author     : Acer
*/

$background: rgb(255,255,255);
$background_50: rgba(255,255,255,0.8);

$foreground: rgb(0,0,0);
$foreground_50: rgba(0,0,0,0.5);

$hex0: #ffe5f2;
$hex1: #ffb3d9;
$hex2: #ff80bf;
$hex3: #ff4da6;
$hex4: #ff1a8c;
$hex5: #e60073;
$hex6: #b30059;
$hex7: #800040;
$hex8: #4d0026;
$hex9: #1a000d;
$hex30: rgba(255,26,140,0.3);

body.pink-theme{
    @import "color.scss";
}