/* 
    Created on : 17/05/2018, 19:18:18
    Author     : Acer
*/

//LAYOUT
@import "structure.scss";

//TONS DE CINZA
@import "day.scss";

//CORES
@import "blue.scss";
@import "cyan.scss";
@import "green-yellow.scss";
@import "purple.scss";
@import "orange.scss";
@import "red.scss";
@import "pink.scss";

@import "reset.scss"; 

.logotipo{
    margin: 5px;
    border-radius: 10px;
    padding: 2px;
    bottom: 20px !important;
    position: absolute;
}

#logotipo_unesp{
    right: 80px !important;
}

#logotipo_sbc{
    right: 40px !important;
    background: white;
}

#splash{
    background-image: url(../images/splash.svg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(100% + 10px);
    height: 100%;
    position: fixed;
    left: -5px;
    top: 0px;
    z-index: 999999;
}

.ui-selectmenu-button-pre-wrap{
    .ui-selectmenu-text{
        white-space: pre-wrap;
    }
}

.ui-tooltip {
    border: 1px solid white;
    background: #111;
    color: white;
    font-size: 13px;
}
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.tooltip {
  position: absolute;
  padding: 10px;
  font: 12px sans-serif;
  background: #222;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0.9;
  visibility: hidden;
}