/* 
    Created on : 17/05/2018, 19:16:08
    Author     : Acer
*/

@mixin no-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin ul-reset(){
    margin: 0px;
    padding: 0px;
}

@mixin li-reset(){
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/**
*   PRINCIPAL
**/

#map{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;

    background: black;
    color: white;
}

/**
*   SIDEBAR
**/


.theater{
    position: absolute;
    left: 0px !important;
    top: 0px !important;
    width: 100%;
    height: 100%;
    .theater-content{
        width: calc(100% - 290px);
        height: calc(100% - 40px);
        padding: 20px;
        left: 250px;
        position: absolute;
        .theater-about{
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            position: absolute;
            .max-content{
                width: max-content;
            }
            .theater-about-content{
                font-family: sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                text-align: justify;
                .label-title{
                    font-size: 23px;
                }
                .label-content{
                    font-size: 16px;
                    margin-bottom: 15px;
                }
                .button-theater{
                    padding: 10px 30px;
                    display: block;
                    margin-top: 10px;
                    font-weight: 700;
                    width: 260px;
                }
                .button-addon-theater{
                    position: absolute;
                    margin-top: -35px;
                    margin-left: 270px;
                    height: 35px;
                    width: 20px;
                    padding-left: 20px;
                }
                .button-toggle-theater:disabled:before{
                    font-family: FontAwesome;
                    content: "\f105";
                }
                .button-toggle-theater:disabled:after{
                    content: " SELECIONADO";
                }
                .button-toggle-theater:after{
                    content: " Selecionar";
                }
                input{
                    padding: 10px;
                    text-transform: uppercase;
                }
                #rotulo{
                    width: 500px;
                    font-size:16px;
                }
                .badge{
                    margin: 2px;
                    padding: 2px 5px;
                    border-radius: 5px;
                    font-family: 'MontserratBold', sans-serif;
                    display: inline-block;
                }
                .badge.badge-edit{
                    font-family: 'Montserrat', sans-serif;
                    content: "editar";
                    font-style: italic;
                    cursor: pointer;
                }
                .dataTables_wrapper {
                    .fg-toolbar{
                        margin-bottom: 40px;
                    }
                    thead{
                        th{
                            .DataTables_sort_wrapper{
                                display: inline-block;
                                margin-left: 5px;
                            }
                        }
                        th::before{
                            font-family: FontAwesome;
                        }
                        th.sorting_asc::before{
                            content: "\f160";
                        }
                        th.sorting_desc::before{
                            content: "\f161";
                        }
                    }
                    .dataTable{
                        width: 100% !important;
                        tr{
                            cursor: pointer;
                            td{
                                font-family:  'Montserrat', sans-serif;
                            }
                            td.text-center{
                                text-align: center;
                            }
                        }

                    }
                    .fg-button{
                        font-family:  'Montserrat', sans-serif;
                    }
                }
            }
            .theater-about-footer{
                font-size: 16px;
            }
            .theater-about-title{
                margin-bottom: 50px;
                font-family: 'Montserrat', sans-serif;
                font-size: 30px;
                font-style: normal;
                font-weight: 200;
            }
        }
    }
    .modal-content{
        position: absolute;
        left: calc(50% - 250px);
        top: 30px;
        width: 480px;
        padding: 10px;
        .tabs-header{
            width: calc(100% - 20px) !important;
        }
        .tab{
            width: calc(100% - 20px) !important;
            padding: 10px;

            label{
                font-size: 16px;
            }
            .label{
                font-size: 16px;
                font-weight: bold;
            }
            .value{
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
    }
}

.dataTables_wrapper {
    .ui-toolbar {
        label,.dataTables_info{
            font-size: 16px;
        }
    }
    .fg-button{
        font-size: 16px;
        padding: 5px !important;
    }
    table{
        td{
            padding-bottom: 6px !important;
            padding-top: 6px !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

#sidebar{
    top: 0px !important;
    left: 0px !important;
    width: 250px;
    height: 100%;
    box-shadow: 0px 0px 20px black;
    position: absolute;
    .sidebar-content{
        width: 250px;
        height: 100%;
        position: absolute;
        .sidebar-title{
            font-size: 25px;
            font-family: 'MontserratThin', sans-serif;
            widows: 100%;
            text-align: right;
            padding-top: 15px;
            padding-bottom: 15px;
            height: 45px;
            line-height: 45px;
            padding-right: 10px;
        }
        .list-buttons-sidebar{
            padding: 0px;
            margin: 0px;
            position: relative;
            width: 100%;
            .item-list-buttons-sidebar{
                margin-bottom: 5px;
                
                .sidebar-button.selected::after{
                    width: 30;
                    height: 30;
                    right: -14px;
                    content: "";
                    transform: rotate(45deg);
                    display: block;
                    position: absolute;
                    margin-top: -35px;
                    z-index: -1;
                }
                
                .sidebar-button{
                    $button_height: 40px;

                    width: 100%;
                    height: $button_height;
                    text-align: left;
                    padding: 0px;
                    border: 0px;
                    .sidebar-button-icon{
                        margin: 0px;
                        width: 50px;
                        height: $button_height;
                        line-height: $button_height;
                        position: relative;
                        display: inline-block;
                        text-align: center;
                        i{
                            width: 100%;
                            height: 100%;
                            line-height: $button_height;
                            font-size: 20px;
                        }
                    }
                    .sidebar-button-text{
                        margin: 0px;
                        font-family: 'Montserrat', sans-serif;
                        text-align: center;
                        display: inline-block;
                        width: calc(100% - 50px);
                        height: $button_height;
                        position: absolute;
                        line-height: $button_height;
                        text-transform: uppercase;
                        font-size: 16px;
                    }
                    .sidebar-button-text:hover{
                        font-family: 'MontserratBold', sans-serif;
                    }
                }
            }
        }
    }
    .sidebar-footer {
        height:40px;
        width:100%;
        position:absolute;
        bottom:0px;
        #random-theme-btn{
            right: 10px;
            position: absolute;
        }
    }
}

/**
*   BUTTONS
**/
//mostra e esconde a berra lateral
.btn-toggle-sidebar{ 
    top: 10px !important;
    left: 10px !important;
    padding: 13.5px 10px;
    border: none;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
}

.simple-btn{
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/**
*   FILTERBAR
**/

$footersize: 20px;
$fullcontentsize: 180px;
$headercontentsize: 160px;
$size: 160px;  

.filterbar-wrapper.showStatus{
    height: $size;
}

.btn-toggle-filter{
    font-family: 'Montserrat', sans-serif;
    top: 11.5px !important;
    width: 40px;
    height: 50px;
    text-align: center;
    left: 60px !important;
    cursor: pointer;
    transition: top ease-out 0.2s;
    i{
        font-size: 25px;
        height: 27.5px;
        line-height: 50px;
    }
}

.btn-toggle-filter.active{
    top: $headercontentsize !important;
}

.filterbar{
    left: 0px !important;
    top: 0px !important;
    position: absolute;
    width: 100%;
    height: $headercontentsize;
    overflow: hidden;
    .filterbar-wrapper{
        left:0px;
        top:0px;
        position: absolute;
        height: $size;
        min-width: 100%;
        .filterbar-div{
            position: absolute;   
            left: 0px;
        }
        .filterbar-header{
            width: 150px;
            padding-left: 10px;
            padding-right: 10px;
            top: 0px;
            height: $headercontentsize;
            .title{
                
                font-family: 'MontserratThin', sans-serif;
                width: 100%;
                text-align: center;
                font-size: 24px;
                line-height: 75px;
                height: 75px;
                text-align: right;
                text-transform: uppercase;
            }
            label{
                width: 100%;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                padding: 2px 5px;
                @include no-select();
                input{
                    margin: 0px;
                    margin-right: 7px;
                }
            }
            button{
                @include no-select();
                width: 100%;
                padding: 2px 5px;
                margin-bottom: 2px;
                text-align: left;
                cursor: pointer;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                i{
                    margin-right: 7px;
                }
            }
            .counter{
                font-family: 'Montserrat', sans-serif;
                width: 100%;
                height: 20px;
                position: relative;
                font-size: 16px;
                line-height: 20px;
                .total{
                    width: 20px;
                    height: 100%;
                    position: absolute;
                    left: 0px;
                    text-align: center;
                }
                .text{
                    height: 100%;
                    width: calc(100% - 28px);
                    position: absolute;
                    right: 0px;
                }
            }

        }
        .filterbar-content{
            width: calc(100% - 180px);
            left: 170px;
            top: 0px;
            height: 150px;
            padding: 5px;
            overflow-x:scroll;
            overflow-y:hidden;
            ul.filter-list{
                @include ul-reset();
                white-space: nowrap;
                height: 150px;
                > li{
                    @include li-reset();
                    height: 135px;
                    max-height: 100%;
                    min-width: 256px;
                    margin-left: 5px;
                    display: inline-block;
                    white-space: normal;
                    font-family: 'Montserrat', sans-serif;
                    .title{
                        @include no-select();
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        width: 100%;
                        text-transform: uppercase;
                        font-size: 16px;
                    }
                    
                    .placeholder{
                        display: block;
                        height: calc(100% - 20px);
                        line-height: 100px;
                        overflow-x: auto;
                        overflow-y: auto;
                        text-align: center;
                        cursor: pointer;
                        font-size: 18px;
                    }
                    .placeholder:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .filterbar-footer{
            width: 100%;
            top: $headercontentsize;
            height: $footersize;
        }
    }
}

.swal2-container{
    .swal2-title{
        font-family: 'MontserratThin', sans-serif;
    }
    .swal2-content{
        font-family: 'Montserrat', sans-serif;
    }
}
input[type='checkbox']{
    -webkit-appearance: none;
}

input[type='checkbox']:after {
    font: normal normal normal 16px/1 FontAwesome;
    content: "\f096";
}

input[type='checkbox']:checked:after{
    content: "\f046";
} 

.marker-dialog{
    width: 550px;
    padding: 0px;
    right: 0px;
    position: absolute;

    .header{
        height: 30px;
        width: 100%;
        position: relative;
        .close-btn{
            float: right;
            width: 100%;
            height: 30px;
            line-height: 30px;
            border: none;
            cursor: pointer;
        }
    }
    .overview{
        width: 100%;
        padding: 5px;
        position: relative;
        tr{
            td:first-child{
                text-align: left;
            }
            td:last-child{
                text-align: right;
            }
            .label{
                padding: 2px;
                font-size: 16px;
            }
            .value{
                padding: 2px;
                font-size: 20px;
            }
        }
    }

    .tabs{
        height: calc(100vh - 160px);
        overflow-y: auto;
        .tab{
            .table-list{
                position: relative;
                width: 550px !important;
                thead{
                    th{
                        .DataTables_sort_wrapper{
                            display: inline-block;
                            margin-left: 5px;
                        }
                    }
                    th::before{
                        font-family: FontAwesome;
                    }
                    th.sorting_asc::before{
                        content: "\f160";
                    }
                    th.sorting_desc::before{
                        content: "\f161";
                    }
                    th:first-child{
                        max-width: 350px !important;
                    }
                    th:last-child{
                        max-width: 150px !important;
                    }
                }
                tbody{
                    tr{
                        cursor: pointer;
                        font-size: 16px;
                        
                        td:first-child{
                            max-width: 350px !important;
                        }
                        
                        td:last-child{
                            max-width: 150px !important;
                        }
                        
                    }
                }
            }
        }
        ul{
            padding-left: 10px;
            padding-right: 10px;
            width: 530px;
            li{
                margin-top: 3px;
                margin-bottom: 3px;
            }
        }
    }

}

.notebook{
    .subtitle{
        margin-bottom: 2px;
        font-size: 16px;
        text-align: center;
        @include no-select();
    }
    .empty{
        text-align: center;
        margin-top: 30px;
        font-style: italic;
    }
    .tabs-header{
        width: calc(100% - 10px);
        padding: 5px;
        padding-bottom: 0px;
        position: relative;
        height: 30px;
        width: 100%;
        .tab-header{
            cursor: pointer;
            display: inline-block;
            position: relative;
            padding: 5px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 16px;
            margin-top: -1px;
            @include no-select();
        }
        .tab-header:not(:first-child){
            margin-left: -1px;
        }
        .btn-close{
            float: right;
            margin-right: 10px;
            height: 30px;
            line-height: 30px;
            width: 100px;
            font-size: 20px;
            margin-top: -5px;
            cursor: pointer;
        }
    }
    .tabs{
        width: 100%;
        position: relative;
        max-height: calc(100vh - 100px);
        overflow-y: auto;
        .tab{
            position: relative;
            width: 100%;
        }
        .tab:not(.selected){
            display: none;
        }
    }
}
#input-group-search {
    left: 60px !important;
    top: 12.5px !important;
    .input-group-addon{
        position: absolute;
        width: 50px;
        height: 50px;
        z-index: 11;
        .fa{
            width: 100%;
            height: 100%;
            line-height: 50px;
            text-align: center;
            font-size: 20px;
        }
    }
    .pac-input {
        position: absolute;
        background-color: #fff;
        font-family: Roboto;
        margin-left: 50px;
        font-size: 16px;
        font-weight: 300;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
        height: 30px;
        z-index: 12;
        text-transform: none;
        border: none;
    }
    .pac-input:focus {
        border-color: #4d90fe;
    }
    #select-search{
        z-index: 13;
        height: 20px;
        line-height: 20px;
        margin-left: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #close-filter-inst-btn{
        display: block;
        position: absolute;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        padding: 0 0 0 13px;
        text-overflow: ellipsis;
        height: 50px;
        line-height: 50px;
        z-index: 12;
        text-transform: none;
        border: none;
        cursor: pointer;
    }
    .pac-addon-icon{
        width: 50px;
        height: 50px;
        line-height: 50px;
        left: 0px;
        font-size: 25px;
        position: absolute;
        text-align: center;
    }
    .pac-addon-header{
        position: absolute;
        top: 5px;
        padding-left: 30px;
        padding-right: 20px;
        height: 20px;
        line-height: 20px;
        font-weight: 500;
        display: inline-block;
        width: max-content;
    }
    .pac-addon-content{
        position: relative;
        padding-left: 30px;
        top: 20px;
        padding-right: 20px;
        height: 30px;
        font-weight: 200;
        line-height: 30px;
        width: max-content;
        display: inline-block;
    }
}

#selected-mode{
    top: 70px !important;
    left: 15px !important;
    position: absolute;
}

.tree-process-selector{
    padding-top:3px;
    button{
        border-radius: 5px;
        height: 25px;
        line-height: 25px; 
        float: right;
        border: none;
        margin-left: 10px;
        cursor: pointer;
    }
    .content{
        float: left;
        ul{
            height: 25px;
            line-height: 25px; 
            @include ul-reset();
            > li{
                font-size: 16px;
                float: right;
                @include li-reset();
                @include no-select();
                padding-right: 5px;
                padding-left: 5px;
                .text{
                    float: left;
                }
                .ui-selectmenu-button{
                    padding: 0px;
                    width: min-content;
                    float: left;
                    height: 25px;
                    line-height: 25px;
                }
                .ui-selectmenu-icon{
                    display: none;
                }
                .ui-selectmenu-text {
                    margin-right: 5px;
                }
                .next{
                    width: 12px;
                    height: 12px;
                    transform: rotate(45deg);
                    position: absolute;
                    display: inline-block;
                    margin-top: 7px;
                    float: left;
                    margin-left: -2px;
                }
            }
            > li:not(:first-child){
                padding-left: 10px;
            }
            > li:first-child{
                float: left;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                padding-right: 5px;
            }
            > li:last-child{
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
}

#visual-selected-text-menu{
    margin-left: -5px;
    .ui-menu-item-wrapper{
        padding-right: 9px;
    }
}
#marker-selected-text-menu{
    margin-left: -11px;
    .ui-menu-item-wrapper{
        padding-right: 13px;
    }
}

.wrapper-graph[open=""]{
    summary{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper-graph{
    border-radius: 7px;
    summary{
        font-size: 16px;
        padding: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        cursor: pointer;
        border-radius: 7px;
        text-transform: uppercase;
        @include no-select();
    }
    .visual{
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.draggable-sortable-btn{
    float: right;
    cursor: grab;
    cursor: -webkit-grab;
    width: 20px;
    text-align: center;
}

.to-window-btn{
    float: left;
    cursor: pointer;
    margin-left: 5px;
}

.draggable-sortable-btn:active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.ui-dialog{
    padding: 0px;
    border-radius: 5px;
    .ui-dialog-titlebar{
        width: 100%;
        padding: 0px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: normal;
        .ui-dialog-title{
            width: 100%;
            margin: 0px;
        }
    }
    .ui-dialog-content{
    //    padding: 0px;
        .options,.subtitle{
            margin-top: -0.5em;
            button{
                width: calc(50% - 2.5px) !important;
            }
        }
        .content,.options,.tabs-header,.tabs,.subtitle{
            margin-left: -1em;
            width: calc(100% + 2em);
        }
        .tabs{
            padding: 30px;
            padding-bottom: 10px;
            padding-top: 10px;
            width: calc(100% + 2em - 60px);
        }
        .tabs-header{
            @include no-select();
            width: calc(100% + 2em - 10px);
        }
    }

}

.body-filter{
    .options{
        button{
            @include no-select();
            border: none;
            width: calc(50% - 2px);
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .select-one.checked::before{
            content: "\f00c ";
            font: normal normal normal 16px/1 FontAwesome;
        }
    }
    .content{
        height: calc(100% - 46px);
        overflow-x: auto;
        overflow-y: auto;
        ul{
            @include ul-reset();
            > li{
                font-size: 12px;
                @include li-reset();
                label{
                    @include no-select();
                }
            }
        }
    }
}